<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button (click)="animerUneFois()" mat-raised-button color="accent">Animer une fois</button>
  <button (click)="animerEnBoucle()" mat-raised-button color="accent">Animer en boucle</button>
  <div [@shake]="shakeV" class="square" style="background-color: red;"></div>

  <div [@bounce]="bounceV" class="square" style="background-color: green;"></div>

  <div [@tada]="tadaV" class="square" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button (click)="turnMe()" mat-raised-button color="accent">Faire tourner</button>
  <div [class.rotate-left]="turn" class="square" style="background-color:orange;"></div>
</div>
